body {
    background-color: #1e1e22;
    min-height: 100vh;
    color: white;
}

#top {
    padding-top: 15px;
}

#list-items {
    text-align: center;
}

#adder {
    font-weight: bold;
    padding: 0.40em 0.5em 0.40em 0.5em ;
}

#caltrack {
    text-align: center;
    background-color: #356;
}

#info {
    padding: 0.1px;
    background-color: #467;
}

#food {
    background-color: #467;
}

#list-items {
    text-align: center;
    background-color: #467;
}

#faintspacer {
    background-color: #356;
}

input {
  background: 0;
  border: 0;
  outline: none;
  width: 20vw;
  max-width: 400px;
  font-size: 1.5em;
  margin: 10px;
  background-color: #79a;
  color: white;
  border-radius: 5px;
  text-decoration: 0;
}

/* hide arrows for input number box */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#item {
    width: 80vw;
}

#calc {
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
}

#about {
    text-align: center;
    background-color: #467;
    padding: 1em;
}

#reset {
    background-color: #922;
    color: white;
    font-weight: bold;
}
